.video-data-list-games {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 9px;
}
.thumbnail {
  width: 35%;
}
.trending-videos-details-container {
  font-family: 'Roboto';
  width: 100%;
  padding-left: 20px;
}
.video-views-container-trending {
  display: flex;
}
.gaming-videos-container {
  flex-wrap: wrap;
}
