.no-saved {
  height: 48vh;
}
.saved-empty-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bg-save-dark {
  background-color: #0f0f0f;
  color: #ffffff;
}
.bg-save-light {
  background-color: #f9f9f9;
  color: #000000;
}
