.games-display-container {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  margin-right: 10px;
  text-decoration: none;
}
.game-logo {
  width: 200px;
}
.game-name {
  text-decoration: none;
}

.link-style {
  text-decoration: inherit;
  color: inherit;
}
.game-description-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 567px) {
  .games-display-container {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    text-decoration: none;
  }
  .game-logo {
    width: 90%;
  }
  .game-name {
    text-decoration: none;
  }
}
