.games-display-container {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  margin-right: 10px;
  text-decoration: none;
}
.game-logo {
  width: 200px;
}
.game-name {
  text-decoration: none;
}

.link-style {
  text-decoration: inherit;
  color: inherit;
}
