.trending-videos-container {
  height: 85vh;
  overflow: auto;
}
.trending-videos-container::-webkit-scrollbar {
  display: none;
}
.bg-trends-dark {
  background-color: #0f0f0f;
  color: #ffffff;
}
.bg-trends-light {
  background-color: #f9f9f9;
  color: #000000;
}
.top-main-heading-container {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 40px;
  justify-content: center;
  color: red;
}
@media screen and (max-width: 568px) {
  .top-main-heading-container {
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 20px;
    justify-content: center;
  }
}
